__pycache__/
instance/
.vscode/
*.pyc
.env
flask_session/
*.sqlite
*.log
tests/
.pytest_cache/
Documentation/
.pytest_cache/
*.pyo
*.pyd
env/
venv/
ENV/
venv.bak/
*.sqlite3
Dockerfile
docker-compose.yml