{% extends "base.html" %}

{% block title %}Export Excel{% endblock %}

{% block notification %}{% endblock %}
{% block body %}
<!-- Save Excel File Card -->
<div class="col-md-6 col-lg-4 mb-4">
    
    <h5 class="card-title">Save Excel File</h5>
    <p class="card-text">Download the processed data as an Excel file.</p>
    <form action="{{ url_for('save_excel') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="btn btn-success">Download</button>
    </form>
    
</div>
{% endblock %}
