<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %}Title{% endblock %}</title>
    
    {% include 'plugins/links.html' %}

  </head>
  <body class="with-welcome-text">
    <div class="container-scroller">  
        {% block content %}

        <!-- partial:partials/_navbar.html -->
        {% include 'partials/_navbar.html' %}
        <!-- partial -->

        <div class="container-fluid page-body-wrapper pt-0">
            <!-- partial:partials/_settings-panel.html -->
            {% include 'partials/_settings-panel.html' %}
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            {% include 'partials/_sidebar.html' %}
            
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                          {% block notification %} 
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                {% for category, message in messages %}
                                <div class="alert alert-{{ category }}" role="alert">
                                    {{ message }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            {% endwith %}
                          {% endblock %}
                          {% block body %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}
    </div>
    {% include 'plugins/scripts.html' %}
  </body>
</html>
