<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %}Title{% endblock %}</title>
    
    {% include 'plugins/links.html' %}

  </head>
  <body>
    {% block content %}
    <div class="container-scroller">  
        
      <!-- partial:partials/_navbar.html -->
      
      {% include 'partials/_navbar.html' %}
      <!-- partial -->
      
      <!-- partial:partials/_settings-panel.html -->
      {% include 'partials/_settings-panel.html' %}
      <!-- partial -->
      
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        {% include 'partials/_sidebar.html' %}
        <!-- partial -->
            
        <div class="main-panel">
          <div class="content-wrapper">
              <div class="row">
                <div class="col-sm-12">
                  <div class="home-tab">
                    
                    <div class="flash-messages" aria-live="assertive" aria-atomic="true"></div>
                    
                    {% block body %}{% endblock %}
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    {% include 'plugins/scripts.html' %}
  </body>
</html>
