<div class="home-tab">
  <div class="col-lg-12 d-flex flex-column">
    <div class="row d-flex">
      {% include 'partials/_dashboard_nav.html' %}
    </div>
  </div>
  <div class="col-lg-12 d-flex flex-column">
    <div class="row d-flex flex-grow">
      <!-- partial:partials/_events.html -->
      {% include 'partials/_events.html' %}
      <!-- partial -->

      <!-- partial:partials/_activities.html -->
      {% include 'partials/_activities.html' %}
      <!-- partial -->
      <div id="userContainer">
        <!-- User data will be inserted here -->
      </div>
    </div>
  </div>
</div>

     
    </div>
  </div>
</div>
