<div class="container-fluid">
  <div class="row justify-content-end">
    <!-- partial:partials/.html -->
    <div class="col-lg-6 col-md-6 col-sm-12 grid-margin mt-5">
      <div id="userContainer">
        <!-- User data will be inserted here -->
      </div>
    </div>
    <!-- partial -->
  </div>

  <div class="row justify-content-end">
    <!-- partial:partials/_activities.html -->
    <div class="col-lg-6 col-md-6 col-sm-12 grid-margin">
      {% include 'partials/_activities.html' %}
    </div>
    <!-- partial -->
  </div>
</div>
