<div class="container mt-5">
    <div class="theme-setting-wrapper">
        <div id="settings-trigger">
            <i class="mdi mdi-airplane mdi-24px"></i>
        </div>
        <div id="theme-settings" class="settings-panel">
            <i class="settings-close mdi mdi-close"></i>

            <div class="section-header" data-bs-toggle="collapse" data-bs-target="#pdfListCollapse" aria-expanded="false" aria-controls="pdfListCollapse">
                <div class="d-flex align-items-center">
                    <i class="mdi mdi-file-pdf-box mdi-24px me-4"></i>
                    <p class="mb-0">PDF Lists</p>
                </div>
                <i class="mdi mdi-chevron-down"></i>
            </div>
            <div class="collapse section-content" id="pdfListCollapse">
                <!-- Include the partial for PDF list -->
                {% include 'partials/_pdf_floating.html' %}
            </div>

            <div class="section-header" data-bs-toggle="collapse" data-bs-target="#flightsFilterCollapse" aria-expanded="false" aria-controls="flightsFilterCollapse">
                <div class="d-flex align-items-center">
                    <i class="mdi mdi-airplane mdi-24px me-2"></i>
                    <p class="mb-0">Flights Filter</p>
                </div>
                <i class="mdi mdi-chevron-down"></i>
            </div>
            <div class="collapse section-content" id="flightsFilterCollapse">
                <!-- Include the partials for flight filters -->
                {% include 'search_partials/flight_box.html' %}
                {% include 'search_partials/arrival_time_box.html' %}
                {% include 'search_partials/departure_location.html' %}
                {% include 'search_partials/transportation.html' %}
            </div>
        </div>
    </div>
</div>