<div class="col-lg-12 col-md-12 col-sm-12 mb-3">
  <div class="box">
    <h5>
      <a class="btn btn-link" data-bs-toggle="collapse" href="#departureLocationsCollapse" role="button" aria-expanded="false" aria-controls="departureLocationsCollapse">
        Departure Locations
      </a>
    </h5>
    <div class="collapse" id="departureLocationsCollapse">
      <div class="d-flex flex-wrap departure-from-filter scrollable">
        {% for departure_from, color in (departure_from_colors|default({})).items() %}
          <a href="{{ url_for('app.search', search_query=request.args.get('search_query', ''), departure_from=departure_from) }}"
             class="btn departure-from-filter-btn m-1"
             style="background-color: {{ color }}; color: #fff;">
            {{ departure_from }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
