<div class="container">
  <div class="row justify-content-center">
    {% include 'partials/_main_header.html' %}
  </div>

  <div class="row">
    <!-- Search Form -->
    <div class="container mb-5">
      <form
        method="POST"
        action="{{ url_for('app.search') }}"
        class="input-group"
      >
        <input
          type="text"
          class="form-control"
          id="search_query"
          name="search_query"
          placeholder="Search for guests, flights, or booking numbers..."
          aria-label="Search"
        />
        {{ form.hidden_tag() }}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button class="btn btn-outline-secondary" type="submit">
          <i class="mdi mdi-magnify"></i>
        </button>
      </form>
    </div>
  </div>

  <div class="row">
    {% for entry in filtered_data %}
    <div class="col-lg-6 col-md-6 col-sm-4 grid-margin stretch-card">
      <div
        class="card search-result-card {{ 'updated-flight' if entry.flight.updated else '' }}"
        data-booking-number="{{ entry.booking }}"
      >
        <div class="card-body">
          <h5 class="card-title">
            <div class="row justify-content-center">
              {{ entry.last_name }}, {{ entry.first_name }} [{{ entry.cabin }}]
            </div>
          </h5>
          <p class="card-text">
            <i class="mdi mdi-airplane m-auto text-primary"></i>
            <strong>Flight:</strong> {{ entry.flight }}
          </p>

          <p class="card-text">
            <i class="mdi mdi-home-map-marker m-auto text-primary"></i>
            <strong>Departure:</strong> {{ entry.departure_from }}
          </p>
          <p class="card-text">
            <i class="mdi mdi-clock-end m-auto text-primary"></i>
            <strong>Arrival Date - Time:</strong> {{ entry.arriving_date }} - {{
            entry.arrival_time }}
          </p>
          <p class="card-text">
            <i class="mdi mdi-book-open m-auto text-primary"></i>
            <strong>Booking Number:</strong> {{ entry.booking }}
          </p>
          <p class="card-text">
            <i class="mdi mdi-bus m-auto text-primary"></i>
            <strong>Transportation:</strong> {{ entry.transportation }}
          </p>
          <p class="card-text">
            <i class="mdi mdi-comment-processing m-auto text-primary"></i>
            <strong>Comments:</strong> {{ entry.comments }}
          </p>
        </div>
        <div class="card-footer">
          <div class="d-flex flex-wrap justify-content-between">
            {% if current_user.is_authenticated %}
            <div class="btn-group mb-2" role="group">
              <button
                class="btn btn-success add-btn"
                data-booking-number="{{ entry.booking }}"
                style="{{ 'display: none;' if entry.status == 'Checked' }}"
              >
                Check
              </button>
              <button
                class="btn btn-danger remove-btn"
                data-booking-number="{{ entry.booking }}"
                style="{{ 'display: none;' if entry.status != 'Checked' }}"
              >
                Unmark
              </button>
            </div>
            {% endif %} {% if current_user.is_admin %}
            <div class="mb-2">
              <button
                id="editButton"
                class="btn btn-light edit-btn"
                onclick="openEditModal('{{ entry.id }}')"
                data-toggle="modal"
                data-target="#editGuestModal"
                data-id="{{ entry.id }}"
              >
                Edit
              </button>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="col text-center">
      <p>No results found. Please adjust your search criteria.</p>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Edit Guest Modal -->
<div
  class="modal fade"
  id="editGuestModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editGuestModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editGuestModalLabel"></h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editGuestForm"></form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          id="saveChangesButton"
          class="btn btn-primary"
          onclick="submitGuestEdit()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Scroll to Top Button -->
<button id="scrollToTopBtn" title="Go to top">
  <i class="mdi mdi-chevron-up mdi-24px"></i>
</button>
