{% extends "base.html" %} {% block title %}DMC Nordic - Add User{% endblock %} 
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <!-- Card -->
      <div class="card">
        <!-- Card Header -->
        <div class="card-header">
          <h4>Add New User</h4>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <div class="mb-3">
              {{ form.username.label(class="form-label") }} {{
              form.username(class="form-control") }} {% if form.username.errors
              %}
              <div class="alert alert-warning" role="alert">
                {{ form.username.errors[0] }}
              </div>
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.password.label(class="form-label") }} {{
              form.password(class="form-control") }} {% if form.password.errors
              %}
              <div class="alert alert-warning" role="alert">
                {{ form.password.errors[0] }}
              </div>
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.email.label(class="form-label") }} {{
              form.email(class="form-control") }} {% if form.email.errors %}
              <div class="alert alert-warning" role="alert">
                {{ form.email.errors[0] }}
              </div>
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.mobile.label(class="form-label") }} {{
              form.mobile(class="form-control") }} {% if form.mobile.errors %}
              <div class="alert alert-warning" role="alert">
                {{ form.mobile.errors[0] }}
              </div>
              {% endif %}
            </div>
            <div class="mb-3">
              {{ form.bio.label(class="form-label") }} {{
              form.bio(class="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.profile_picture.label(class="form-label") }} {{
              form.profile_picture(class="form-control") }}
            </div>
            <div class="mb-3 form-check">
              {{ form.is_admin(class="form-check-input") }} {{
              form.is_admin.label(class="form-check-label") }}
            </div>

            <button type="submit" class="btn btn-light">Add User</button>
          </form>
        </div>
        <!-- End of Card Body -->
      </div>
      <!-- End of Card -->
    </div>
  </div>
</div>

{% endblock %}
